<% unless @opportunity_application.profile.notes.blank? %>
  <div class="mdl-card mdl-shadow--2dp review_profile_notes">
    <div class="mdl-card__title mdl-color--grey-100">
      <h3 class="mdl-card__title-text">Comments/Skills</h3>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        <%= @opportunity_application.profile.notes %>
      </p>
    </div>
  </div>
<% end %>