<div class="mdl-grid">
  <%= render 'opportunity_applications/review_profile' %>
  <%= render 'opportunity_applications/review_application' %>
  <%= render 'opportunity_applications/review_status' %>
</div>
