<span><i class="fa fa-info-circle">&nbsp;</i>Please note that you can return to a previous step at anytime and that your changes in each step will be saved upon clicking the continue button.</span>
<ul class="mdl-stepper mdl-stepper--linear mdl-stepper--feedback">
  <%= render 'profile_step' %>
  <%= render 'availability_step' %>
  <%= render 'rank_choices_step' %>
</ul>
