<section class="section-dates section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col all-done-card">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h1><i class="fa fa-thumbs-up">&nbsp;</i>All Done!</h1>
    </div>
  </div>
</section>

<section class="section-dates section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
    <h4>
      Thank you for your interest in volunteering with us. We'll get back to you as soon as possible!
    </h4>
  </div>
</div>
</section>

<section class="section-dates section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
    <h4>
      To make <% if @update %>further<% end %> changes to your application, click <%= link_to "here", apply_path %>.
    </h4>
  </div>
</div>
</section>

<section class="section-dates section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
    <h4>
      We'd be thrilled if you took this quick anonymous <a href="https://jazzify.typeform.com/to/dnObWf7n" target="_blank">survey</a> on the application process. (~ 1 min)
    </h4>
  </div>
</div>
</section>
