<h2>Volunteer Code of Conduct</h2>
<p>
  <strong class="mdl-color-text--accent">Prior to applying as a volunteer, it's important for you to know what you're signing up for!</strong>
</p>

<div class="cards">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">As volunteer for the Ottawa Jazz Festival, I agree to the following:</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul>
        <li>I will be a responsible ambassador for the Festival and represent the Festival in a positive way;</li>
        <li>I will be respectful of festival goers;</li>
        <li>I will work with other volunteers, performers, and staff in a positive manner;</li>
        <li>I will fulfill all volunteer responsibilities (i.e., the tasks assigned of me & the minimum time commitment required);</li>
        <li>I will maintain confidentiality with respect to all Ottawa Jazz Festival information and records</li>
        <li>I will not record any  festival performances (audio/video);</li>
        <li>I will not reserve seating in any of the audience areas until after the gate opens;</li>
        <li>I will leave my pets at home;</li>
        <li>I acknowledge my position of trust and will not use for my own advantage any money, information, or properties belonging to the Festival, its sponsors, artists, or vendors;</li>
        <li>I understand that if I consume alcohol while off duty, I am expected to drink responsibly and ensure that any clothing or credentials which identify me as a volunteer be removed;</li>
      </ul>
    </div>
  </div>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">The Ottawa Jazz Festival has the right to immediately dismiss me as a volunteer for any of the following reasons:</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <ul>
          <li>If I display inappropriate behaviour or negative attitude;</li>
          <li>If I commit illegal, violent or unsafe acts;</li>
          <li>If I attempt to bring alcohol onto the site;</li>
          <li>If I use or possess illegal substances on site; or</li>
          <li>If I consume or am under the influence of alcohol or drugs while on duty.</li>
        </ul>
    </div>
  </div>
</div>
<p><strong class="mdl-color-text--accent">Failure to adhere to the Code of Conduct may result in disciplinary procedures or immediate loss of your volunteer standing for the current and future years.</strong>
</p>
