<section class="section-dates section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h2 class="mdl-cell mdl-cell--12-col">
        Contact Us
      </h2>
      <h5>If you are emailing us about an issue you're experiencing, please include the steps you've taken to resolve it and results.</h5>
      <h5>If you have signed up, please give us your name and the sign up method (Facebook, Twitter, Google, Microsoft or email)</h5>
    </div>
    <div class="mdl-card__actions">
      <%= link_to 'mailto:ottawajazzify@gmail.com' do %>
        <span>email</span>
      <% end %>
  </div>
</section>
