<div class="card">
  <header class="card-header">
    <p class="card-header-title"><%= t('form.editing') %> <%= record.model_name.human %></p>
  </header>
  <%= render 'form', record: record %>
</div>