<div class="card">
  <header class="card-header">
    <p class="card-header-title"><%%= t('form.new') %> <%= singular_table_name.titleize %></p>
  </header>
  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>