.home.code_of_conduct{
  padding: 0vw 2vw;
  strong{
    text-transform: uppercase;
    color: rgb(255,64,129);
  }
  .cards{
    display: flex;
    flex-flow: row wrap;
  }
  .mdl-card{
    min-height: auto;
    width: auto;
    flex: 1 1 640px;
    margin: 1vw;

    .mdl-card__title{
      background-color: rgb(63,81,181);
      color: white;
    }

    .mdl-card__title-text{
      padding: 0;
    }

    .mdl-card__supporting-text ul li{
      font-size: 1.2rem;
    }
  }
}

.page-content.home.show{
  display: inherit;
  margin-top: 0;
}
.home.show{
  padding-top: 4rem;
  background-color: #fafafa;

  .mdl-card__supporting-text{
    p:last-child{
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .section-map{
    min-height: 45vh;
    iframe{
      height: 100%;
    }
  }

  .section-dates .mdl-card{
    min-height: 0;
    h4{
      margin-bottom: 0;
    }
    .mdl-card__supporting-text{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .font-icon-step-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .font-icon-step{
    font-size: 2rem;
  }
}
