.home.code_of_conduct{
  padding: 0vw 2vw;
  strong{
    text-transform: uppercase;
  }
  .cards{
    display: flex;
    flex-flow: row wrap;
  }
  .mdl-card{
    min-height: auto;
    width: auto;
    flex: 1 1 640px;
    margin: 1vw;

    .mdl-card__title-text{
      padding: 0;
    }

    .mdl-card__supporting-text ul li{
      font-size: 1.2rem;
    }
  }
}

.page-content.home.landing{
  display: inherit;
  margin-top: 0;
}
.home.landing{
  padding-top: 4rem;
  background-color: #fafafa;

  .mdl-card__supporting-text{
    p:last-child{
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .section-map{
    iframe{
      height: 100%;
      min-height: 45vh;
    }
  }

  .section-dates .mdl-card{
    min-height: 0;
    h4{
      margin-bottom: 0;
    }
    .mdl-card__supporting-text{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .font-icon-step-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .font-icon-step{
    font-size: 2rem;
  }
}

.mdl-mega-footer--link-list a{
  cursor: pointer;
}

.home.help{
  display: inherit;
  margin-top: 25vh;
  margin-bottom: 30vh;
}


.home.privacy_policy{
  display: inherit;
  p, li, a, address{
    font-size: 1.3rem;
  }
  a{
    cursor: pointer;
  }
}
