form {

  div.field.mdl-textfield{
    margin: inherit;
    label:first-child{
      font-weight: inherit;
      font-size: inherit;
    }
  }
  div.field {
    margin: 1rem 0;

    label {
      font-size: 1.1rem;
    }
  }

  .actions{
    input {
      margin: 1rem 0;
    }
  }

}
